material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  body {
    background-color: black;
  }


  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    } 
  
.menu {
  border-right: 1px solid #232323;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
}

.menu-item {
  margin-left: 50px;
  margin-top: 12px;
  margin-right: 50px;
  border-radius: 25px;
  font-size: 15px;
  height: 25px;
  color: white;
  font-weight: 700;
  padding: 5px 15px;
  background-color: none;
  border: none; 
  text-align: center;
}


/* .menu-item-adjust {
  padding-left: 25px;
} */

.menu-item:hover {
  background-color: #180cbd;
  cursor: pointer;
  
}

 /* .menu-item button1 {
  border-radius: 25px;
  font-size: 15px;
  height: 25px;
  color: white;
  width: 210px;
  font-weight: 700;
  background-color: #108CDF;
  border: none; 
}  */

  .upper-base {
    border-bottom: 1px solid #232323;
    font-size: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 475px;
  }

  .for-you {
    width: 130px;
    margin-left: 100px;
    padding: 10px 10px;
    margin-right: 85px;
  }

  .the-right-side {
    margin-left: 210px;
    padding-right: 50px;
  }