material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  body {
    background-color: black;
  }


  .nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    
    } 
  
.menu {
  border-right: 1px solid #232323;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.menu-item {
  margin-left: 50px;
  margin-right: 12px;
  font-size: 20px;
  color: white;
  font-weight: 400;
  background-color: none;
  border: none; 
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-item-adjust {
  padding-left: 15px; 
}

/* .icon {
  
} */

.menu-item:hover {
  background-color: #6e0577;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer; 
}

.button-1 {
  display: flex;
  justify-content: center;
}

 #post-button {
  border-radius: 25px;
  font-size: 15px;
  height: 55px;
  color: white;
  width: 200px;
  font-weight: 700;
  background-color: #108CDF;
  border: none; 
  margin-top: 15px;
  margin-left: 20px;
}

.profile-tab {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 25%;
}

.profile-tab img {
  height: 50px;
  width: 45px;
  border-radius: 100%;
  margin-right: 15px;
  margin-left: 15px;
}

.profile-tab i {
  margin-left: 15px;
}

#profile-tab-name {
 font-size: 14px;
 font-weight: 600;
 padding-top: 25px;
}

#profile-tab-name-tag {
 font-size: 14px;
 color: rgb(113, 118, 123);
}
.profile-tab:hover {
  background-color: aqua;
}

.profile-tab span {
  
}


  .upper-base {
    border-bottom: 1px solid #232323;
    font-size: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .upper-base i {
    margin-right: 17px;
  }

  .for-you {
    width: 130px;
    margin-left: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: 45px;
  }

  .input-tweet {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color:rgb(113, 118, 123);
    border-bottom: 1px solid #232323;
  }

  .input-tweet img {
    height: 50px;
    width: 45px;
    border-radius: 100%;
    margin-right: 15px;
  }
  
  .icon-gang {
    padding-top: 6px;
  }

  .icon-gang i {
    padding: 8px;
    color: #1d9bf0;
  }

  .show-posts {
    text-align: center; 
  }

  .show-posts p {
    padding: 10px;
    color: #1a89d5;
  }

  .show-posts:hover {
    background-color: rgba(46, 46, 46, 0.911);
    opacity: 15%;
    text-decoration-color: #1a89d5;
  }


  .the-trend-side {
    margin-left: 130px;
  }

  .search-tab {
    border: 1px solid #e70909;
    background-color: rgb(32, 35, 39);
  }

  .search-tab input {
    background-color: rgb(32, 35, 39);
  }